@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
p{
  font-family: 'lexend giga', cursive;
  font-size:125%
}
h1 {
  font-family: 'Rock 3D', cursive;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

,:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

img,
video {
  height: auto;
  max-width: 50%;
}

a {
  color: white;
}